h1, h2, h3, h4, h5, h6{
  line-height: 40px;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  margin: 0;
  padding: 0;
  height: 100%;
}

.prof {
  position:absolute;
  z-index:1;
  left:50%;
  top:145em;
  margin-left:-10em;
  background:#3D3D3D;
  width:20em;
  height:20em;
  padding:0em 0em;
  border-radius:150%;
  font-size:0.5em;
  /*display:block;*/
  /*box-shadow:0px 0px 5px 0px #333;*/
}

.about {
  position: absolute;
  top: 85em;
  margin-left: 30%;
  margin-right: 30%;
  height: 50%;
  width: 40%;
  /*margin: -% 0 0 -25%;*/
}

.footer {
  position: absolute;
  top: 120em;
  background-attachment: scroll;
  bottom: 0;
  width:100%;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20%;
  width: 50%;
  margin: -10% 0 0 -25%;
}

.intro h1 {
  font-size: 600%
  /*line-height:1;*/
}

.intro h2 {
  font-size: 150%
}

.navbar {
  background-color: #3D3D3D;
}

.nav.navbar-nav.navbar-right li a {
  color: #E8E8E8;
}

.nav.navbar-nav li a {
  color: #E8E8E8;
}

.nav-brand a {
  color: #E8E8E8;
}

.background {
  position: absolute;
  display: block;
  top: 0px;
  left: 0;
  z-index: 0;
}

#particles-js {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 90%;
    top:50px
}

/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:125em;
  margin-left:-5em;
  background:#3D3D3D;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #3D3D3D transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }

