h1, h2, h3, h4, h5, h6{
  line-height: 40px;
}

@font-face{font-family:sinkinsans300;src:url(../fonts/sinkinsans-300.eot);src:url(../fonts/sinkinsans-300.eot?#iefix) format("embedded-opentype"),url(../fonts/sinkinsans-300.woff) format("woff"),url(../fonts/sinkinsans-300.ttf) format("truetype"),url(../fonts/sinkinsans-300.svg#sinkin_sans300_light) format("svg");font-weight:400;font-style:normal}

html, body {
  font-family: sinkinsans300;
  color: #666;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background: #fff;
  width: 100%;
  /*color: #08232c;*/
}

.nav-item a:hover {
  color: #0065ff !important;
}

.nav.navbar-nav.navbar-right li a {
  color: #0b1f2c;
  margin-right: 0%;
}

.nav.navbar-nav li a {
  color: #0b1f2c;
}

.nav.navbar-nav.navbar-right li {
  display: inline-block;
  text-align: left;
}

.nav-brand a {
  color: #0b1f2c;
}

.navbar-toggle {
  padding-left: 1%;
  position: relative;
  background-color: #0b1f2c;
  color: #fff;
  border: #0b1f2c;
  /*width: 100%;*/
  /*background-image: url('../images/icon-menu.svg');*/
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.navbar-toggle:hover {
  background-color: #0b1f2c !important;
  color: red;
}

.navbar-toggle:focus {
  background-color: #0b1f2c !important;
  color: red;
}

.intro-wrap {
  position: absolute;
  top: 3em;
  height: 15em;
  width: 100%;
  background-color: #0b1f2c;
}

.intro {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 5em;
  width: 100%;
  padding-top: 1em;
}

.footer-wrap {
  position: relative;
  width: 100%;
  top: 20em;
  height: 4em;
  background-color: #0b1f2c;
  /*min-width: 53em;*/
  /*overflow: hidden;*/
}

.footer {
  position: absolute;
  width:100%;
  color: #fff;
  text-align: center;
  font-size: 70%;
  padding-top: 2em;
}

hr {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 18%;
    margin-right: 18%;
    border-style: inset;
    border-width: 1px;
    color: #0b1f2c;
}

.pub-wrap {
  position: absolute;
  top: 3em;
  height: 15em;
  width: 100%;
  background-color: #0b1f2c;
  /*min-width: 53em;*/
  /*overflow: hidden;*/
}

.title {
  /*position: absolute;*/
  font-size: 135%;
  margin-left: 18%;
  margin-top: 1.5em;
  margin-right: 20%;
  color: #0b1f2c;
}

.summary {
  /*position:absolute;*/
  margin-left: 18%;
  margin-top: 1em;
  /*margin-left:0em;*/
  margin-right: 20%;
  display: block;
  text-size-adjust: none;
  color: #666;
  line-height: 2.2;
  font-size: 90%;
  /*text-overflow: clip;*/
  /*min-width: 30em;*/
  /*overflow:hidden;*/
}

.date {
  margin-left: 18%;
  /*position:absolute;*/
  margin-top: 1em;
  font-size: 0.7em;
  color: #666;
}

.company {
  margin-left: 17.5%;
  position: absolute;
  margin-top: 2em;
  height: 4em;
  width: 8em;
  /*margin-left: -1.8em;*/
  z-index: -1;
}

.link {
  margin-left: 18%;
  /*position: absolute;*/
  margin-top: 1em;
  font-size: 0.9em;
}

@media screen and (max-width: 28em) {
  .intro {
    font-size: 4em;
  }
}