html, body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  /*position: absolute;*/
  /*top: 115%;*/
  background-attachment: scroll;
  bottom: 0;
  width:100%;
  margin-top: 11em;
}

.intro {
  position:absolute;
  left:18%;
  top: 2em;
  font-size: 5em;
}

.navbar {
  background-color: #3D3D3D;
}

.nav.navbar-nav.navbar-right li a {
  color: #E8E8E8;
}

.nav.navbar-nav li a {
  color: #E8E8E8;
}

.nav-brand a {
  color: #E8E8E8;
}

hr {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 18%;
    margin-right: 18%;
    border-style: inset;
    border-width: 1px;
}

.pub-wrap {
  position:relative;
  margin-left: 18%;
  /*margin-right: -18em;*/
}

.title {
  /*position: absolute;*/
  font-size: 1.2em;
  margin-left: 18%;
  margin-top: 1.5em;
}

.summary {
  /*position:absolute;*/
  margin-left: 18%;
  margin-top: 1em;
  /*margin-left:0em;*/
  margin-right: 18em;
  display: block;
  text-size-adjust: none;
  /*text-overflow: clip;*/
  /*min-width: 30em;*/
  /*overflow:hidden;*/
}

.date {
  margin-left: 18%;
  /*position:absolute;*/
  margin-top: 1em;
  font-size: 0.7em;
}

.company {
  margin-left: 16.5%;
  position: absolute;
  margin-top: 0.5em;
  height: 6em;
  width: 8em;
  /*margin-left: -1.8em;*/
  z-index: -1;
}

.link {
  margin-left: 18%;
  /*position: absolute;*/
  margin-top: 1em;
  font-size: 0.9em;
}